Repository sile-typesetter/sile, pull requests merged in 2020-05, with the labels that each got.

#861 Document some facts about \include
  documentation/sile.sil
Labels: documentation

#858 chore(tooling): Ignore lua_modules_dist directory when linting Lua
  .luacheckrc
Labels: ci

#867 Fix & make benchmarking more ergonomic
  Makefile.am
Labels: enhancement

#870 docs(manual): Remove reference to removed auto-guessing feature
  .travis.yml
  documentation/sile.sil
Labels: documentation
