Repository sile-typesetter/sile, pull requests merged in 2024-05, with the labels that each got.

#2029 Manual: Reorganize Chapters 2 and 3
  documentation/c02-gettingstarted.sil
  documentation/c03-input.sil
Labels: documentation

#2030 Manual: Bump url and rules to high status
  documentation/c05-packages.sil
Labels: documentation

#2031 Manual: Explain raw handlers and reserved SIL keywords
  documentation/c04-useful.sil
Labels: documentation

#2025 README: change to official NixOS wiki
  README.md
  default.nix
  documentation/c02-gettingstarted.sil
  flake.nix
  shell.nix
Labels: documentation

#2034 Fix spelling mistakes in simpletable package documentation
  packages/simpletable/init.lua
Labels: documentation

#2019 Fix utf8 hyphenator
  core/hyphenator-liang.lua
  spec/hyphenator_spec.lua
Labels: bug

#2020 Display math numbering
  packages/math/init.lua
  packages/math/typesetter.lua
  tests/feat-math-display-numbered.expected
  tests/feat-math-display-numbered.sil
  tests/feat-math-display-unnumbered.expected
  tests/feat-math-display-unnumbered.sil
Labels: enhancement, modules:packages

#1931 Configure and run automatic Lua code styling
  .cirrus.yml
  .editorconfig
  .github/workflows/coverage.yml
  .github/workflows/stylua.yml
  .github/workflows/test.yml
  .luarc.json
  .styluaignore
  Makefile.am
  configure.ac
  core/frameparser.lua
  core/parserbits.lua
  flake.nix
  inputters/sil.lua
  packages/bibtex/init.lua
  packages/features/init.lua
  packages/math/texlike.lua
Labels: todo

#1912 Update documentation on building and installing for v0.15
  README.md
  documentation/c02-gettingstarted.sil
Labels: documentation

#2037 Overhaul Docker UX
  Dockerfile
  README.md
  configure.ac
  documentation/c02-gettingstarted.sil
  src/sile-entry.sh.in
Labels: enhancement, tooling
